# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/11-App

# default values
#all:

all: 
  # because by default every filter condition is true, we have to set this var
  # to off in all other environments
  enable_soap_parameter: off
  sf_guard_plugin:
    remember_cookie_name:   graviolaRememberMe

# your environment for webservice mode
soap:
  # enable the `ckSoapParameterFilter`
  enable_soap_parameter: on
  ck_web_service_plugin:
    # the location of your wsdl file
    wsdl: %SF_WEB_DIR%/myWebService.wsdl
    # the class that will be registered as handler for webservice requests
    handler: ckSoapHandler